/*
  1. Positioning
  2. Box Model
  3. Typography
  4. Visual Effects
  5. Others
*/

:root {
  /* colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black-plus-1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --white: #fff;
  /* fonts */
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

/* header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
.header__logo {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--bitcoin-orange);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  margin-right: 8px;
}
.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  align-self: center;
}
.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}
.header__title-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header__title-container .header__button {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* shadow */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warm-black);
}
.header__button i {
  margin-left: 14px;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container .background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px;
  background: url('./assets/images/bitcoin.png') center/cover no-repeat;
}
.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container__title h2 {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.main-exchange-container__title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.main-tables-container {
  position: relative;
}
.main-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  font-family: var(--secondary-font);
}
.main-table .table__title {
  margin-bottom: 12px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  text-align-last: left;
  padding: 12px;
}
.main-currency-table .table__title {
  color: var(--bitcoin-orange);
}
.main-comission-table .table__title {
  color: var(--secondary-blue);
}
.table__container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  margin: 0 auto;
}
.table__container table {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.table__container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--white);
  padding: 12px;
}
.table__container td:first-of-type {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
  text-align-last: left;
}
.table__container i {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 10px;
}
.table__container i.fa-level-down-alt {
  color: #f5450d;
}
.table__container i.fa-level-up-alt {
  color: #07d635;
}
.table__date {
  width: 190px;
  height: 30px;
  margin: 15px auto 0;
  padding: 8px;
  border-radius: 8px;
}
.main-currency-table .table__date {
  background-color: var(--soft-orange);
}
.main-comission-table .table__date {
  background-color: var(--soft-blue);
}
.table__date p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black);
}
.main-tables__btn {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}
.main-tables__prev-btn {
  left: 18px;
}
.main-tables__next-btn {
  right: 18px;
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.product-detail__batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
}
.product-detail__title {
  width: 90%;
  min-width: 288px;
  margin: 50px auto 0;
  text-align: center;
}
.product-detail__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}
.product-detail__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-detail__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black-plus-1);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail__card i {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: var(--bitcoin-orange);
}
.product__card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--white);
}
.product__card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url('assets/images/bitcoinbaby2x.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding: 50px 0 70px;
  text-align: center;
}
.plans__title {
  width: 90%;
  min-width: 288px;
  margin: 0 auto 50px;
}
.plans__title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.plans__title p {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.plans-container__card {
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  padding: 30px 15px 0;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container__card .recommended {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.plan-card__title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}
.plan-card__price {
  margin-top: 5px;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.2rem;
  color: black;
}
.plan-card__price span {
  vertical-align: top;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
}
.plan-card__saving {
  font-size: 1.2rem;
  color: #757575;
}
